<div class="row">
  <div class="col-md-6">
    <h3>5 November, <strong>9:30</strong>-17:30</h3>
    <table class="table table-striped">
      <tr> <td><strong>BEFORE</strong></td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:30</td>  <td>Doors open</td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/">Python I</a></td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:45</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">Shell</a></td> </tr>
      <tr> <td>17:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>6 November, <strong>9:00</strong>-16:30</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Doors open</td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Git</a></td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:45</td>  <td><a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/">Python II</a></td> </tr>
      <tr> <td>16:20</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
